$bg-color: #fff;
$text-color: #000;
$bg-block-color: #323C46;
$line-height: 1.5;

$bg-lightgray: #F1F2F2;
$bg-pink: #FFC1C1;
$bg-blue: #85B1F9;
$bg-yellow: #FFF48E;
$bg-red: #EE6956;
$bg-lightblue: #D9EAFF;
$bg-gray: #71787F;
$bg-lightgreen: #C3F3E2;

/* ====== breakpoints ====== */
$lg: 1199.98px;
$md: 991.98px;
$sm: 599.98px;
$xs: 479.98px;


